<!-- app/views/taxes/new.html.erb -->

<h1>New Tax Information</h1>

<%= form_for @tax do |f| %>
  <div class="field">
    <%= f.label :income, 'Yearly Income' %>
    <%= f.number_field :income %>
  </div>

  <div class="field">
    <%= f.label :yearly_bonus, 'Yearly Bonus' %>
    <%= f.number_field :yearly_bonus %>
  </div>

  <div class="field">
    <%= f.label :annual_cit, 'Annual CIT' %>
    <%= f.number_field :annual_cit %>
  </div>

  <div class="field">
    <%= f.label :assessment_type, 'Assessment Type' %>
    <%= f.select :assessment_type, options_for_select(Tax::ASSESSMENT_TYPES, @tax.assessment_type) %>
  </div>

  <div class="actions">
    <%= f.submit 'Save Tax Information' %>
  </div>
<% end %>

<%= link_to 'Back', taxes_path %>
